extends layout
block content
    h1= record.title
    h5 Submitted by #{author}
    h5= record.artist
    p= record.format
    p= record.notes
    hr
    if user
        if user._id ==record.author
            a.btn.btn-primary(href='/records/edit/'+record._id) Edit
            a.btn.btn-danger.delete-record(href='#', data-id=record._id) Delete